body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heading {
  margin-top: 200px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}
#counter {
  margin-top: 20px;
  background-color: rgb(253, 250, 245);
  width: 300px;
  border-radius: 3px;
  border: 2px solid rgb(63, 63, 63);
  box-shadow: 0 4px 15px rgba(182, 182, 182, 0.1);
}

#count {
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

#button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
  height: 50px;
}

.buttons {
  background-color: cornflowerblue;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  font-size: larger;
}

.buttons:hover {
  background-color: #4a76d1;
}
